# Ignore Quartus Prime project database folders
db/
incremental_db/

# Optional: Add common VHDL/FPGA temporary files you might also want to ignore
# Failsafe for general temporary/log files
*.bak
*.rpt
*.srr
*.log
*.metadata